<html>
    <head>
        
    </head>
    <body ng-app="chat" ng-controller="main">
      <input type="text" ng-model="variable">
      <button ng-click="llamar()">culo</button>
      
        <div ng-repeat="cha in chat">
          <ul>
            <li>{{cha.nombre}}</li>
          </ul>
        </div>
        <script type="text/javascript" src="http://localhost:1337/js/dependencies/sails.io.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>    
        
        
        
        <script type="text/javascript" src="app.js"></script>
        
    </body>
</html>
